<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lws.allenglish">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 讯飞广告配置 -->
        <meta-data
            android:name="IFLYTEK_APPKEY_AD"
            android:value="58611aa9" />

        <service android:name="com.iflytek.voiceads.update.DownloadService" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.lws.allenglish.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name="com.iflytek.voiceads.request.IFLYBrowser"
            android:screenOrientation="portrait" />
        <!-- 讯飞广告配置 -->

        <activity
            android:name=".controller.activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controller.activities.SearchWordActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.activities.WordDetailsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.activities.BlankActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.activities.BookmarkActivity"
            android:label="@string/bookmark"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.activities.TranslationRecordDetailsActivity"
            android:label="@string/text_and_result"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.activities.AudioActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.activities.DictionaryActivity"
            android:label="@string/dictionary"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.activities.VideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label=""
            android:launchMode="singleTask" />
        <activity
            android:name=".controller.activities.LearningListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.activities.ReaderActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".controller.activities.AboutActivity"
            android:label="@string/app_about"
            android:screenOrientation="portrait" />
    </application>

</manifest>